* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    user-select: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    min-width: 400px;
    padding: 10px;
    background: linear-gradient(135deg, pink, purple);
}

.app {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 10px auto 10px;
    padding: 20px 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.app h1 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    font-size: 30px;
}

/*General button design*/
button {
    border: solid black;
    outline: none;
    cursor: pointer;
    background: rgb(255, 192, 229);
    padding: 10px 25px;
    border-radius: 12.5px;
    font-size: 18px;
}

/*General input button design*/
.input {
    border: black solid;
    outline: none;
    overflow: ellipse;
    background: rgb(235, 235, 235);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
}