.row {
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}

#add-button {
    height: 100%;
    padding-left: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

ul {
    width: 100%;
}

ul li {
    list-style: none;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    padding: 12px 8px 12px 12px;
    position: relative;
}

ul li::before {
    content: "";
    border-radius: 50%;
}

ul li span {
    position: absolute;
    color: #555;
    right: 0px;
    top: 6px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

