.list-img {
    width: 35px;
    height: 35px;
    margin: 0px 5px 5px;
}

.row {
    width: 100%;
    position: relative;
}

.input {
    border: black solid;
    outline: none;
    background: rgb(235, 235, 235);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
    
}

#add-button {
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

ul {
    width: 100%;
}

ul li {
    list-style: none;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    position: relative;
}

ul li::before {
    content: "";
    border-radius: 50%;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url("img/checked-emoji.png");
    height: 24px;
    width: 24px;
}

ul li span {
    position: absolute;
    color: #555;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

