* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
    user-select: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, pink, purple);
}

.pomodoro-app {
    background: white;
    width: 100%;
    max-width: 400px;
    margin: auto auto;
    padding: 20px 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.pomodoro-app h1 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    font-size: 30px;
}

.pomodoro-app h1 img {
    width: 40px;
    margin: auto 5px 10px;
}

.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 10px; 
    background: rgb(255, 192, 229);
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    border: solid black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
  }

label {
    font-size: 25px;
}

.controller {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 15px auto;
}

button {
    border: solid black;
    outline: none;
    cursor: pointer;
    background: rgb(255, 192, 229);
    padding: 10px 25px;
    border-radius: 12.5px;
}

button:hover {
    opacity: 75%;
}

